.body{
  margin: 0;
  padding: 0;
  height:100%;
}
.bg-img1 {
  background-image:url(https://mdbootstrap.com/img/Photos/Others/img%20%2848%29.jpg);
  height: 400px;
  padding-top:0px;
  background-size:cover;
  width:100%;
}
h2{
  padding-top: 20px;
  text-align: center;
  color: white;
}
ul{
  text-align: center;
}
li {
  margin-left: 40px;
  margin-right: 40px;
  display: inline;
  text-decoration: none;
  color: white;
}
ul li a{
  color: white;
}
h1{
  padding-top: 50px;
  text-align: center;
  color: white;
}
#p1{
  text-align: center;
  padding-left: 10%;
  padding-right: 10%;
  color: white;
}
.btn{
  margin-top: 20px;
  margin-left: 45%;
  border-radius: 50%;
}
.bg-img2 {
  height: 450px;
  background-color:rgb(205, 213, 221);
  padding-top: 50px;
  padding-bottom: 70px;
}
#p2{
  text-align: center;
  padding-left: 10%;
  padding-right: 10%;
}
#sub{
  padding-top:0px;
  text-align: center;
  color: black;
}
.row{
  padding-top: 10px;
}
.img-responsive{
  height: 10%;
}
.figure-caption{
  text-align: justify;
  padding-left: 30px;
  padding-right: 30px;
}
#p3{
  text-align: center;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 40px;
}
#p4,#p5,#p6,#p7{
  padding-left: 20%;
}
#firstleft,#firstright,#secondleft,#secondright{
  padding-left: 20%;
}
